<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Carpet</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="script.js"></script>
</head>
<body>
 <div id="root">
    <header class="head">
        <div class="head_tittle">CARPET</div>
        <div class="head_search">
            <input type="text" v-model="search" v-on:keyup="filterItems">
 
        </div>
        <div class="actions">
            <button class="cart-button" type="button"  v-on:click="show = !show">корзина</button>
         </div>
    </header>
    <main>
  <div>
  
        <div class="goods-list" >
            <goods-item 
            v-for="item in sortItems"
             v-bind:item="item">
            </goods-item>
        </div>  
  </div>
  <transition name="fade">
  <div class="fixed-area" v-if="show">
    <div class="basket-card">
        <div class="basket-card__header">
            <div class="basket-card_header_title">basket card</div>
            <div class="basket-card_header_delete-ikon"></div>
        </div>
        <div class="basket-card_content">content</div>
    </div>
    <div>{{ calculatePrice }}</div>
  </div>
</transition>
    </main>
   
 </div>

</body>
</html>