html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#root {
    background-color: black;
   margin: 0px;
   padding: 0px;
   
}

.head {
display: inline-flex;
width: 100%;
height: 100px;
justify-content: space-between;
}
 
.head_tittle {
   color: azure;
   font-family: Impact, fantasy;
 font-size: 40px;
 align-self: center;
 margin-left: 70px;
}

.head_search {
    align-self: center;
    
}

.fixed-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-card {
    width: 80%;
    height: 80%;
    background-color: azure;
    display: grid;
    grid-template-rows: max-content auto;
}

.basket-card__header {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto max-content;
    font-family: Impact, fantasy;
    font-size: 30px;
}

.basket-card_header_title {
    padding: 10px;
    font-family: Impact, fantasy;
    font-size: 30px;
}

.basket-card_content {
    padding: 10px;
    font-family: Impact, fantasy;
    font-size: 15px;
}

.goods-list {
margin-top: 100px;
justify-content: center;
}
.goodsItem {

    width: 700px;
    height: 350px;
    display: inline-grid;
    margin-bottom: 50px;
    align-content: center;
    justify-content: center;
    position: relative;
}
.goodsItem_text {
color: azure;
font-family: Impact, fantasy;
font-size: 40px;
position: absolute;
top: 30%;
left: 47%;
}

.goodsItem_price {
    color: azure;
    font-family: Impact, fantasy;
    font-size: 15px;
    position: absolute; 
    top: 50%;
    left: 48%;   
}

